* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.section-registration {
    padding: 50px 0;
    background-color: #f7f9fb;
}

.registration-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-heading {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.registration-form form div {
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.registration-form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: inherit;
}

textarea:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}


.btn-submit {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-submit:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.btn-submit:active {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}